.container {
  display: flex;
}

.sideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  min-height: screen;
  padding: 10x;
  background: white;
  border-radius: 1px;
}

.main {
  margin-left: 20px;
  width: full;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topIcon {
  background: blueviolet;
  color: white;
  padding: 3px;
  border-radius: lg;
  display: inline-block;
}

.span {
  border-bottom: 1px;
  border-color: gray;
  width: full;
  padding: 2px;
}
.restIcons {
  background: grey;
  color: white;
  padding: 3px;
  border-radius: lg;
  display: inline-block;
  cursor: pointer;
}

.restIcons:hover {
  background-color: yellow;
}
