.searchBar {
    display: flex;
    align-items: center;
  }
  
  .searchBar .input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    width: 250px;
  }
  
  .searchBar .button {
    padding: 8px 12px;
    background-color: #fb0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .searchBar .button:hover {
    background-color: #6c0808;
  }
  