.container {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.123rf.com%2Fphoto_73998372_huella-de-animales-sin-fisuras-patr%25C3%25B3n-sin-fisuras-patr%25C3%25B3n-se-puede-utilizar-para-fondos-de-escritorio-patro.html&psig=AOvVaw3yG5shlgxj79LipU0PpZk5&ust=1685919485630000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNCj2dGZqP8CFQAAAAAdAAAAABAQ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  