.container {
  background-image: url("https://img.freepik.com/vector-premium/fondo-formas-abstractas-planas-dibujadas-mano_23-2149082885.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  