.sideBar{
	position: fixed;
	top: 0;
	right: 0;
	width: 20vw;
	background-color: #ba1300c7;
	padding: 2rem;
	z-index: 1;
	height: 100vh;
	transition: all 0.5s ease-in-out;

}

.close-button-container{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;

}
.close-Button{
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.close-Button:active{
	color: #fff;
}